NODE_ENV=production
# NODE_ENV=local
# NODE_ENV=development
PORT=8449

POSTGRESDB_URL= 'postgresql://postgres:admin123@localhost:5432/fsa_local_database;

# Production Database (default)
DBUSERNAME=sadfas
DBPASSWORD=sdfs
DBHOST=asd4
DBPORT=asd
DBNAME=sdfsd
IS_SYNCHRONIZE=true
DB_SSL=require

# Local Database
LOCAL_DBUSERNAME=postgres
LOCAL_DBPASSWORD=admin123
LOCAL_DBHOST=localhost
LOCAL_DBPORT=5432
LOCAL_DBNAME=fsa_local_database
LOCAL_IS_SYNCHRONIZE=true

# Development/Staging Database
DEV_DBUSERNAME=4449923_saleofast
DEV_DBPASSWORD=saleoFast879
DEV_DBHOST=pgdb1.awardspace.net
DEV_DBPORT=5432
DEV_DBNAME=4449923_saleofast
DEV_IS_SYNCHRONIZE=false

#ENCRYPTIONKEY
PRIVATEKEY=
EXPIRY=30d


# Forget Password
EMAILTOKENPRIVATEKEY=gjgjgjhj
EMAILTOKENEXPIRY=30m
# HOST=http://localhost:3384/api/v1/user
HOST=

AWSACCESSKEY=
AWSSECRETKEY=
AWSBUCKETNAME=
AWSREGION=